page-news {
    .card {
        margin: 5px;
    }

    .card-subtitle {

    }
}

mat-card {
    margin: 15px;
}

@keyframes newsEnter {
    from { margin-top: 50px; opacity: 0; }
    // to   { opacity: '100%'; }
}

.card-animate {
    animation-name: newsEnter;
    animation-duration: 500ms;
}

@keyframes imgload {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

img {
    animation-name: imgload;
    animation-duration: 1500ms;
}