<!-- HEADER -->
<mat-toolbar>
    <mat-icon style="margin-right: 15px;" (click)="goBack()">navigate_before</mat-icon>
    <span>Vaktije</span>
</mat-toolbar>

<mat-form-field style="display: inherit; text-align: center;">
  <mat-select placeholder="mjesec" [(value)]="selected">
    <mat-option *ngFor="let item of vaktije" [value]="item.title" (click)="onChange(item)">
      {{item.title}}
    </mat-option>
  </mat-select>
</mat-form-field>


<!-- <pdf-viewer
  [src]="pdfUrl"
  [zoom]="1.0"
  [original-size]="false"
  style="display: block;"
>
</pdf-viewer> -->

<mat-card>
  <img mat-card-image [src]="pdfUrl" alt="Photo of Vaktija">
</mat-card>
