<div class="dzmz-bg d-flex justify-content-center">
  <img class="rounded mx-auto d-block" src="../../../assets/img/dzmzLogoGray.png">
</div>

<mat-toolbar class="d-flex justify-content-between align-items-center">
  <span>Home</span>
  <img class="dzmz-header-img" src="../../../assets/img/dzmzLogo.png">

</mat-toolbar>

<div class="main d-flex flex-column align-items-end">
  <div class="container text-center">
    <span class="p-1"><span class="text-secondary mr-4">{{dzuma}}:</span> Dzuma Namaz - 13:30h
      <mat-icon style="margin-left: 10px;">announcement</mat-icon>
    </span>
    <hr class="m-0">
    <hr class="mt-1 mb-0">
    <div class="row">
      <div class="col-2 d-flex align-items-center">
        <mat-icon class="m-1" style="margin-left: 10px;">event</mat-icon>
        Slj.
      </div>
      <div class="col d-flex align-items-center justify-content-center text-left pt-2 pb-2">
        <blockquote class="blockquote mb-0 text-left">
          <p class="mb-0" [ngClass]="{'noTermin': nextTermin == null}">
            {{ nextTermin ? nextTermin.title : 'nema termina'}}
          </p>
          <footer class="blockquote-footer">{{ nextTermin ? (calendarSvc.createDate(nextTermin.date) | date:'dd.MM, hh:mm') + 'h' : ''}}</footer>
        </blockquote>
      </div>
    </div>
    <hr class="m-0">
    <hr class="mt-1">
  </div>

  <!-- #region MENU BUTTONs -->
  <div class="container" style="z-index:1">
    <div class="d-flex align-content-stretch flex-wrap justify-content-around align-items-center">
      <!-- BUTTON TERMINI -->
      <div class="grid-menu m-2">
        <button class="link-button w-100 pt-2 shadow" routerLink="/home/calendar" 
        mat-raised-button [matBadge]="(terminList$ | async).length" matBadgePosition="after" matBadgeColor="warn">
          <div class="d-flex flex-column justify-content-end">
            <i class="material-icons">calendar_today</i>
            <span>Termini</span>
          </div>
        </button>
      </div>
      <!-- BUTTON DOVE -->
      <div class="grid-menu m-2">
        <button class="link-button w-100 pt-2 shadow" routerLink="/home/calendar" mat-raised-button>
          <div class="d-flex flex-column justify-content-end">
            <i class="material-icons">import_contacts</i>
            <span>Dove</span>
          </div>
        </button>
      </div>
      <!-- BUTTON VAKTIJE -->
      <div class="grid-menu m-2">
        <button class="link-button w-100 pt-2 shadow" routerLink="/home/vaktije" mat-raised-button>
          <div class="d-flex flex-column justify-content-end">
            <i class="material-icons">schedule</i>
            <span>Vaktije</span>
          </div>
        </button>
      </div>
      <!-- BUTTON HUTBE -->
      <div class="grid-menu m-2">
        <button class="link-button w-100 pt-2 shadow" routerLink="/home/hutbe" mat-raised-button>
          <div class="d-flex flex-column justify-content-end">
            <i class="material-icons">local_library</i>
            <span>Hutbe</span>
          </div>
        </button>
      </div>
      <!-- BUTTON CONTACT -->
      <div class="grid-menu m-2">
        <button class="link-button w-100 pt-2 shadow" routerLink="/home/contact" mat-raised-button>
          <div class="d-flex flex-column justify-content-end">
            <i class="material-icons">home</i>
            <span>Kontakt</span>
          </div>
        </button>
      </div>
    </div>
    <!-- #endregion MENU BUTTONs -->
  </div>

  <div class="container mt-auto w-100 text-center" style="z-index: 1">
    <div class="card card-inverse card-body bg-light p-1">
      <blockquote class="mb-0">IZBNJ - Islamska zajednica Bоšnjaka u Njemačkoj – Džemat Mainz</blockquote>
    </div>
  </div>

</div>