
<mat-toolbar class="d-flex justify-content-between align-items-center">
  <span>Home</span>
  <img class="dzmz-header-img" src="../../../assets/img/dzmzLogo.png">

</mat-toolbar>


<div class="container mt-3">
  <p class="p-2 text-center">Dzuma Namaz - 15:00h
    <mat-icon style="margin-left: 10px;">announcement</mat-icon>
  </p>
  <hr>
</div>

<mat-grid-list cols="3" rowHeight="5:3">
  <!-- LINKS -->
  <mat-grid-tile *ngFor="let item of links" class="grid-menu">
    <button class="link-button" [routerLink]="item.route" [disabled]="item.disabled">
      <div class="d-flex flex-column justify-content-end">
        <i class="material-icons">
          {{ item.icon }}
        </i>
        <span>{{ item.label }}</span>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<img class="rounded mx-auto d-block" src="../../../assets/img/dzmzLogoGray.png">
