.link-button {
    background-color: transparent;
    border: none;
}

.grid-menu {
    width: 80px;
}

.dzmz-bg {
    background-image: url("../../../assets/img/dzmzLogoGray.png");
    background-repeat: no-repeat;
    background-position: center; 
    height: 100%;
}

:host {
    width: 100%;
    background-color: white;
}