<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
  Vaktija erfolgreich erstellt
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="success=false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
  Vaktija Name fehlt
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="vaktije-form p-3">
  <!-- *** Title *** -->
  <mat-form-field>
    <input matInput placeholder="Titel" name="title" [formControl]="title">
    <mat-error *ngIf="title.invalid">{{getTitleErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- *** Create Button *** -->
  <!-- <input type="file" (change)="onFileChange($event)" name="path" [(ngModel)]="path"> -->
  <button type="submit" class="btn btn-lg btn-block btn-primary" (click)="onClick()">Erstellen</button>
  
</form>

<file-pond #vaktijePond class="mt-5" 
  [options]="pondOptions" 
  [files]="pondFiles"
  (oninit)="pondHandleInit()"
  (onaddfile)="pondHandleAddFile($event)">
</file-pond>

<div class="container-fluid">
  
  <mat-card *ngFor="let doc of allVaktije">
      <!-- close icon -->
    <button type="button" class="close" aria-label="Close" (click)="deleteVaktija(doc.id)">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ doc.data.title }}
  </mat-card>
</div>
