/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    font-family: 'Roboto', sans-serif; 
    background-color: lightgray;
}

.dzmz-h1 {
    color: #b3ab69;
}

mat-toolbar {
    background-color: #b7332d !important;
    color: white !important;
}