nav {
    width: 100%;
    z-index: 3;
    bottom: 0;
    position: absolute;
    background-color: white;
}

.active-link {
    color: red;
}

.sc {
    height: calc(100% - 52px);
    overflow: scroll;
}